
<div class="container mx-auto mt-4">
{{#if message}}

<div class="alert alert-success" role="alert">
 {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}


{{#if errors}}

<div class="alert alert-danger " role="alert">
 {{errors}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}



</div>